header {
    border-bottom: 1px;
}

footer,main div{
    float: left;
    overflow: hidden;
}

footer div{
    width: 50%;
}

footer img{
    width: 50%;
}

.fotos{
    float: left;
    width: 50%;
}

.sidebar{
    width: 30%;
}

.conteudo{
    width: 70%;
}

.resto{
    width: 100%;
}